<h1>Fit a Hill Equation to Experimental Data</h1> 
<p>Paste some tab delimited data from Excel or Numbers:
</br>one (x,y) point per line</p>
<form action='<%= url_for "/upload" %>' method='post'> 
  <textarea name='data' columns='50' rows='15'></textarea><br /> 
  Min: <input type="text" name="min" />
  Max: <input type="text" name="max" />
  <input type='submit'/><br /> 
</form> 